body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #162e37;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: #fca739;
}

.text__B15F5F {
  color: #b15f5f;
}

.bg__B15F5F {
  background-color: #b15f5f;
}

.bg__ccc {
  background-color: #ccc;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 20rem;
  height: 4rem;
}

.borderLB__Rad_50 {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.tag {
  position: relative;
  border: 1px solid rgba(131, 131, 131, 0.6588235294);
  padding: 0.5rem;
  display: block;
  border-radius: 0.4rem;
}

.tag:hover {
  background-color: rgba(0, 0, 0, 0.3215686275);
}

.tagsAlignRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.credit {
  color: #ccc;
  text-align: center;
}

.hide {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* ------------NAV MENUBAR START ----------------- */
/* 2nd ROW */
.bodyContainer {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  /* NAVBAR START */
}
.bodyContainer .blogReleaseSearch {
  background-color: #274653;
}
.bodyContainer .navMainContainer {
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2941176471);
  z-index: 5;
  box-shadow: 1px 4px 5px 1px rgba(2, 0, 0, 0.2196078431);
}
.bodyContainer .navMainContainer .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1c3742;
  color: #fff;
  z-index: 5;
  /* HAMBURGER STYLE START */
}
.bodyContainer .navMainContainer .navbar > * {
  width: 80%;
  margin: 0 auto;
}
.bodyContainer .navMainContainer .navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bodyContainer .navMainContainer .navbar .hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: #edd5b9;
  margin: 4px 0;
  transition: transform 0.4s ease;
}
.bodyContainer .navMainContainer .navbar .hamburger .barA {
  width: 20px;
  transition: transform 0.4s ease;
}
.bodyContainer .navMainContainer .navbar .hamburger.active .bar:nth-child(1) {
  transform: translateY(12px) translateX(-5px) rotate(45deg);
}
.bodyContainer .navMainContainer .navbar .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.bodyContainer .navMainContainer .navbar .hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) translateX(-4px) rotate(-45deg);
}
.bodyContainer .navMainContainer .navbar .logo {
  font-size: 1.5rem;
}

.navMenuContainer {
  width: -moz-max-content;
  width: max-content;
  margin-left: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-items {
  display: flex;
  width: 100%;
  text-wrap: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.nav-items a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}

.parallax {
  width: auto;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.parallax-bg {
  background-image: url("images/img.jpg");
  /* Add your background image */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.main-content {
  height: 200vh;
  /* Add enough height to scroll */
  /* Add your main content styles */
}

/* PARALLAX START */
.openHouseParallax {
  position: relative;
  width: 100%;
  height: 80vh;
  /* CONTAINER MAX HEIGHT */
  /* background-color: #1b3842; */
  transition: all 0.3s ease;
  overflow: hidden;
  /* BUILDING BLOCKS PARENT DIV */
  /* PROPS */
  /* BUILDINGS */
}
.openHouseParallax :where(img) {
  width: 100%;
}
.openHouseParallax .ohp60 {
  width: 70%;
  position: relative;
  height: 100%;
  float: right;
  transition: all 0.3s ease;
}
.openHouseParallax .ohp-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  z-index: 1;
}
.openHouseParallax .ohp-props {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 10%;
  z-index: 1;
  animation: bounce 6s ease-in-out infinite;
}
.openHouseParallax .ohp-props2 {
  position: absolute;
  width: 6%;
  left: 10%;
  top: 55%;
  z-index: 1;
  animation: bounce 5s ease-out infinite;
}
.openHouseParallax .ohp-cloud,
.openHouseParallax .ohp-cloud3 {
  width: 10%;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 2;
  animation: b2t 30s linear infinite;
  opacity: 0.3;
}
.openHouseParallax .ohp-cloud2 {
  width: 5%;
  position: absolute;
  left: 0;
  top: 55%;
  z-index: 2;
  animation: left2Right 30s linear infinite;
}
.openHouseParallax .ohp-cloud3 {
  width: 5%;
  position: absolute;
  left: 60%;
  top: 55%;
  z-index: 2;
  animation: b22Build 30s linear infinite;
}
.openHouseParallax .ohp-cloud4 {
  width: 12%;
  position: absolute;
  left: 0;
  top: 25%;
  z-index: 2;
  animation: left2Right 35s linear infinite;
}
.openHouseParallax .ohp60 .ohp-building1 {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: 5%;
  z-index: 3;
  animation: b2t 1.2s ease;
}
.openHouseParallax .ohp60 .ohp-building2 {
  position: absolute;
  width: 12%;
  bottom: 0;
  right: 22%;
  z-index: 2;
  animation: b2tBuild 3.5s ease;
}
.openHouseParallax .ohp60 .ohp-building3 {
  position: absolute;
  width: 18%;
  bottom: 0;
  right: 32%;
  z-index: 2;
  animation: b2t 1.8s ease;
}
.openHouseParallax .ohp60 .ohp-building4 {
  position: absolute;
  width: 14%;
  bottom: 0;
  right: 50%;
  z-index: 2;
  animation: b2tBuild 2.5s ease;
}
.openHouseParallax .ohp60 .ohp-building5 {
  position: absolute;
  width: 12%;
  bottom: 0;
  right: 62%;
  z-index: 2;
  animation: b2t 2.5s ease;
}
.openHouseParallax .ohp-inBetweenContent {
  position: absolute;
  left: 5%;
  top: 40%;
  z-index: 2;
}
.openHouseParallax .ohp-inBetweenContent :is(h1) {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.openHouseParallax .ohp-inBetweenContent h1:first-child {
  color: #fd2626;
}
.openHouseParallax .ohp-inBetweenContent h1:nth-child(n+2) {
  color: #ffb012;
}
.openHouseParallax .ohp-inBetweenContent h1:last-child {
  color: #706dff;
}
.openHouseParallax .ohp-bottomTop {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  z-index: 3;
}

/* MEDIA SCREEN START */
@media screen and (max-width: 1368px) {
  .openHouseParallax {
    height: 550px;
    transition: all 0.3s ease;
    /* BUILDING BLOCKS PARENT DIV */
  }
  .openHouseParallax .ohp60 {
    width: 80%;
    transition: all 0.3s ease;
  }
  .openHouseParallax .ohp60 .ohp-building1 {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 5%;
    z-index: 3;
    animation: b2t 1.2s ease;
  }
  .openHouseParallax .ohp60 .ohp-building2 {
    position: absolute;
    width: 10%;
    bottom: 0;
    right: 22%;
    z-index: 2;
    animation: b2tBuild 3.5s ease;
  }
  .openHouseParallax .ohp60 .ohp-building3 {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 32%;
    z-index: 2;
    animation: b2t 1.8s ease;
  }
  .openHouseParallax .ohp60 .ohp-building4 {
    position: absolute;
    width: 12%;
    bottom: 0;
    right: 50%;
    z-index: 2;
    animation: b2tBuild 2.5s ease;
  }
  .openHouseParallax .ohp60 .ohp-building5 {
    position: absolute;
    width: 12%;
    bottom: 0;
    right: 62%;
    z-index: 2;
    animation: b2t 2.5s ease;
  }
  .openHouseParallax .ohp-inBetweenContent {
    top: 20% !important;
  }
  .openHouseParallax .ohp-inBetweenContent > h1 {
    font-size: 3rem !important;
    letter-spacing: 10px !important;
  }
}
@media screen and (max-width: 1080px) {
  .openHouseParallax {
    height: 600px;
    transition: all 0.3s ease;
  }
  .openHouseParallax .ohp-inBetweenContent {
    top: 20% !important;
  }
  .openHouseParallax .ohp-inBetweenContent > h1 {
    font-size: 2.5rem;
    letter-spacing: 5px !important;
  }
}
@media screen and (max-width: 720px) {
  .openHouseParallax {
    height: 400px !important;
    transition: all 0.3s ease;
    /* BUILDING BLOCKS PARENT DIV */
  }
  .openHouseParallax .ohp60 {
    width: 100%;
    transition: all 0.3s ease;
  }
  .openHouseParallax .ohp-inBetweenContent {
    top: 20% !important;
  }
  .openHouseParallax .ohp-inBetweenContent > h1 {
    font-size: 2rem !important;
    letter-spacing: 5px !important;
  }
}
@media screen and (max-width: 320px) {
  .openHouseParallax .ohp-inBetweenContent > h1 {
    font-size: 1.2rem !important;
    letter-spacing: 5px !important;
  }
}
@keyframes b2t {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes b2tBuild {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(5%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-6%);
    opacity: 1;
  }
  100% {
    transform: translateY(5%);
    opacity: 0.5;
  }
}
@keyframes left2Right {
  0% {
    left: -10%;
    opacity: 0.3;
  }
  25% {
    left: 50%;
    opacity: 1;
  }
  50% {
    left: 110%;
    opacity: 0.3;
  }
  75% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: -10%;
    opacity: 0.4;
  }
}
/* MEDIA SCREEN END */
/* TOP NAVBAR SCREEN SIZE 768PX */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex !important;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    background-color: #162e37;
    padding: 10px 0;
    animation: topDown 0.5s linear;
  }
  .nav-items a {
    padding: 10px 0;
    font-size: larger;
    text-align: center;
    border-bottom: 1px solid #555;
    color: white;
  }
  .nav-items a:hover {
    background-color: #1c3742;
  }
  .nav-items a:last-child {
    border-bottom: none;
  }
  .nav-items.active {
    display: flex;
    z-index: 3;
  }
}
/* TOP NAVBAR SCREEN SIZE 320PX */
@media screen and (max-width: 320px) {
  .searchBar {
    width: 90vw;
  }
  .navbar {
    gap: 1rem;
  }
  .hamburger .bar:nth-child(2n-1) {
    width: 1.5rem;
  }
  .hamburger .bar:nth-child(2n) {
    width: 1.1rem;
  }
  .logo {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    text-align: center;
  }
}
@keyframes topDown {
  from {
    transform: translateZ(-100%);
    opacity: 0;
    transition: all 0.3s linear;
  }
  to {
    transform: translateZ(0%);
    opacity: 1;
    transition: all 0.3s ease;
  }
}
@keyframes downUp {
  from {
    transform: translateZ(0%);
    opacity: 1;
    transition: all 0.3s linear;
  }
  to {
    transform: translateZ(-100%);
    opacity: 0;
    transition: all 0.3s ease;
  }
}
/* --------------- PROJECT GALLERY START -------------------*/
/*---------------------------------------
            PROJECTS GALLERY
----------------------------------------*/
.categoryName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 2rem 0;
  z-index: 5;
}
.categoryName .leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: auto;
}
.categoryName .leftSide .dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.categoryName .leftSide .dots .dotLine {
  display: flex;
  gap: 0.2rem;
}
.categoryName .leftSide .dots .dotLine > .dot {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #ff9f00;
}
.categoryName .leftSide h2 {
  color: #e88000;
}
.categoryName .rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: inherit;
  background-color: #b26418;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
}
.categoryName .rightSide img {
  width: 1.5rem;
  margin-left: 0;
  transition: all 0.3s ease;
}
.categoryName .rightSide:hover {
  background-color: #925505;
  transition: all 0.3s ease;
}
.categoryName .rightSide:hover img {
  margin-left: -0.5rem;
  transition: all 0.3s ease;
}

/*---------------------------------------
            PROJECTS GALLERIES
----------------------------------------*/
.projectGallery {
  position: relative;
  width: 100%;
  min-height: 70vh;
  max-height: 80vh;
  color: white;
  overflow: hidden;
}
.projectGallery .ohp-InnerBlock {
  position: relative;
  width: inherit;
  min-height: 80vh;
  max-height: 100%;
  background-image: url(images/gallery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projectGallery .ohp-InnerBlock h2 {
  color: white;
  padding: 2rem;
}
.projectGallery .ohp-InnerBlock .background {
  position: absolute;
  width: 100%;
  min-height: inherit;
  max-height: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3 ease;
  /* IMAGE SHADOW */
}
.projectGallery .ohp-InnerBlock .background > div img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.projectGallery .ohp-InnerBlock .background .ohp-backgroundLight {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: inherit;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 80/37;
}
.projectGallery .ohp-InnerBlock .background > div {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.projectGallery .ohp-InnerBlock .background .relativeWidth20 {
  width: 20vw;
  height: auto;
  aspect-ratio: 1;
  transition: all 0.3s ease;
}
.projectGallery .ohp-InnerBlock .background .relativeWidth15 {
  width: 15vw;
  height: auto;
  aspect-ratio: 1;
  transition: all 0.3s ease;
}
.projectGallery .ohp-InnerBlock .background .relativeWidth10 {
  width: 10vw;
  height: auto;
  aspect-ratio: 1;
  transition: all 0.3s ease;
}
.projectGallery .ohp-InnerBlock .background .galls img {
  box-shadow: 5px 12px 10px rgba(0, 0, 0, 0.4392156863);
}
.projectGallery .ohp-InnerBlock .background > div img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  aspect-ratio: 1;
}
.projectGallery .ohp-InnerBlock .background .gal-1 {
  left: 25%;
  /* VARIABLE */
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.projectGallery .ohp-InnerBlock .background .gal-2 {
  left: 35%;
  /* VARIABLE */
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.projectGallery .ohp-InnerBlock .background .gal-3 {
  left: 50%;
  /* VARIABLE */
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.projectGallery .ohp-InnerBlock .background .gal-4 {
  left: 65%;
  /* VARIABLE */
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.projectGallery .ohp-InnerBlock .background .gal-5 {
  left: 75%;
  /* VARIABLE */
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .relativeWidth20 {
    width: 25vw !important;
    height: auto;
  }
  .relativeWidth15 {
    width: 20vw !important;
    height: auto;
  }
  .relativeWidth10 {
    width: 15vw !important;
    height: auto;
  }
}
@media screen and (max-width: 720px) {
  .relativeWidth20 {
    width: 35vw !important;
    height: auto;
  }
  .relativeWidth15 {
    width: 30vw !important;
    height: auto;
  }
  .relativeWidth10 {
    width: 25vw !important;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .relativeWidth20 {
    width: 35vw !important;
    height: auto;
  }
  .relativeWidth15 {
    width: 30vw !important;
    height: auto;
  }
  .relativeWidth10 {
    width: 25vw !important;
    height: auto;
  }
}
/*---------------------------------------
            TEAM MEMBERS START
----------------------------------------*/
.teamContainer {
  display: grid;
  grid-template-columns: 30% 20% auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}

.teamContainer .center {
  height: 100%;
  display: flex;
  align-items: center;
}

.teamContainer .right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: auto;
}

/* LEFT CONTENTS */
.ourTeamText {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.ourTeamText .team-bg {
  position: absolute;
  height: inherit;
}

.team-bg img {
  width: 100%;
  height: auto;
}

.team-bg p {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bayon";
  color: white;
  font-size: x-large;
  line-height: 0;
}

.team-bg p::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 4px;
  bottom: -1.4rem;
  right: 0;
  background-color: #d0e200;
}

.teamContainer .leftRes {
  display: none;
}

/* TEAM MEMBER DETAILS */
.teamMember {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.teamMember .member-pattern {
  position: relative;
  width: inherit;
  height: 70%;
  background-color: #0a597a;
}

.teamMember .member-pattern .member-sm-cicle {
  position: absolute;
  aspect-ratio: 1/1;
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(to right, #0a597a, #b8b8b8);
  border-radius: 50%;
  top: 5%;
  left: 8%;
  z-index: 1;
}

.teamMember .member-pattern .member-bg-cicle {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-image: linear-gradient(to left, #0a597a, #b8b8b8);
  border-radius: 50%;
  bottom: 5%;
  right: 3%;
  z-index: 1;
}

.teamMember .member-pattern .line-pattern {
  width: 40%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.teamMember .member-pattern .line-pattern img {
  width: 100%;
}

.teamMember .member-pattern .member-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.teamMember .member-pattern .member-img div:first-of-type {
  padding: 1rem;
  width: 50%;
  height: auto;
  display: block;
}

.teamMember .member-pattern .member-img img {
  width: 100%;
  height: inherit;
  border-radius: 50%;
}

.teamMember .teamMemberName {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30%;
  overflow: hidden;
  background-color: #146688;
}

.teamMember .teamMemberName .teamNameContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.teamMember .teamMemberName .teamNameContainer > p {
  text-transform: capitalize;
  margin: 0;
}

.teamMember .teamMemberName .teamNameContainer p:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

.teamMember .teamMemberName .teamNameContainer p:nth-of-type(n + 2) {
  font-size: 0.8em;
}

@media screen and (max-width: 1368px) {
  .teamMember .teamMemberName .teamNameContainer > p {
    text-align: center;
    margin: 0.2rem;
  }
}
@media screen and (max-width: 820px) {
  .teamContainer {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .teamContainer .left {
    display: none;
  }
  .teamContainer .leftRes {
    display: block;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    position: relative;
  }
  .teamContainer .leftRes p {
    display: block;
    margin: 0;
    height: inherit;
    font-size: x-large;
    letter-spacing: 3px;
  }
  .teamContainer .leftRes p::before {
    content: "";
    position: absolute;
    width: 9.1rem;
    height: 3px;
    bottom: -0.5rem;
    left: 0;
    border-radius: 1rem;
    background-color: #f1df34;
  }
  .teamContainer .center {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .teamContainer .teamCEO {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .teamContainer .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 85%;
    height: auto;
  }
  .teamMember .teamMemberName .teamNameContainer > p {
    text-align: center;
    margin: 0.2rem;
  }
  .teamMember .teamMemberName .teamNameContainer p:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .teamMember .teamMemberName .teamNameContainer p:nth-of-type(n + 2) {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .teamContainer .right {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 1rem;
    width: 85%;
    height: auto;
  }
  .teamMember .teamMemberName .teamNameContainer p:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .teamMember .teamMemberName .teamNameContainer p:nth-of-type(n + 2) {
    font-size: 0.8rem;
  }
}
/*---------------------------------------
            TEAM MEMBERS END
----------------------------------------*/
/*---------------------------------------
            TESTIMONIAL START
----------------------------------------*/
.testimonial_body {
  position: relative;
  width: 60%;
  height: 400px;
  background-color: #1b3842;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px -1px #fff;
  margin: 0 auto;
  color: white;
  transition: all 0.3s ease;
}
.testimonial_body:hover {
  transition: all 0.3s ease;
  box-shadow: 1px 1px 1px 1px rgba(143, 143, 143, 0.5607843137);
  background-color: #132830;
}
.testimonial_body .circle_profile {
  aspect-ratio: 1;
  padding-top: 1rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
}
.testimonial_body .circle_profile img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: auto;
  border: 2px solid green;
}
.testimonial_body .designation {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
}
.testimonial_body .designation .ceoName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding-top: 0.5rem;
}
.testimonial_body .designation .ceoDes {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.testimonial_body .quote {
  position: relative;
  height: 40px;
  gap: 80%;
  width: 100%;
}
.testimonial_body .quote1 {
  padding-left: 1rem;
}
.testimonial_body .quote2 {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  float: right;
}
.testimonial_body .quote img {
  width: auto;
  height: inherit;
}
.testimonial_body .testimonial_text {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: justify;
}
.testimonial_body .progressBar {
  height: 5px;
  margin: 50px auto;
  overflow: hidden;
  width: 30%;
  background-color: green;
  border-radius: 5px;
}
.testimonial_body .progressBar #progressRunner {
  height: inherit;
  width: 100%;
  display: flex;
  background-color: aqua;
  animation: left2right 10s linear;
  margin: 0 auto;
  border-radius: 5px;
}

@keyframes left2right {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
}
/*---------------------------------------
            TESTIMONIAL END
----------------------------------------*/
/*---------------------------------------
            NEWS BLOCK START
----------------------------------------*/
.newsBlock {
  /* SEE MORE BUTTON */
}
.newsBlock .newsMainBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.newsBlock .newsMainBody .architechNewsBlockContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 200px;
  max-width: 300px;
  min-height: 300px;
  max-height: 600px;
  background-color: #a86712;
  transition: all 0.2s linear;
}
.newsBlock .newsMainBody .architechNewsBlockContainer:hover {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
  transition: all 0.2s linear;
}
.newsBlock .newsMainBody .architechNewsBlockContainer:hover .architechText .blogTitle {
  margin-top: 1rem;
}
.newsBlock .newsMainBody .architechNewsBlockContainer:hover .architechText .architechAllText .blogSubTitle {
  /* display: block; */
  opacity: 1;
  transition: all 0.3s linear;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechImg {
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  height: 60%;
  top: 0;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechImg .architechInnerContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechImg .architechInnerContainer:hover::after {
  content: url(svgs/view\ icon.svg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  left: 50%;
  top: 50%;
  background: rgba(0, 0, 0, 0.4235294118);
  transform: translate(-50%, -50%);
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechImg img {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background-color: #a05a15;
  color: white;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText .architechAllText {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;
  overflow: hidden;
  /* background-color: #1b4b17; */
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText .blogTitle {
  margin: 0;
  display: flexbox;
  height: inherit;
  margin-top: 20%;
  align-items: center;
  transition: all 0.3s ease;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText .blogSubTitle {
  height: 100%;
  overflow: hidden;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText .blogSubTitle p {
  margin-block-start: 0;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.newsBlock .newsMainBody .architechNewsBlockContainer .architechText .architechAllText .blogSubTitle {
  /* display: none; */
  opacity: 0;
  transition: all 0.3s linear;
}
.newsBlock .seeMoreBtn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.newsBlock .seeMoreBtn button {
  min-width: 8rem;
  max-width: 10rem;
  font-size: large;
  padding: 0.5rem;
  border-radius: 10px;
  border: transparent;
  background-color: #b26418;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.newsBlock .seeMoreBtn button:hover {
  background-color: #a05a15;
  transition: all 0.2s ease;
}

/*---------------------------------------
            NEWS BLOCK START
----------------------------------------*/
/*---------------------------------------
            ENVELOP START
----------------------------------------*/
.envelop {
  position: relative;
  min-width: auto;
  max-width: 700px;
  height: 70vh;
  margin: 0 auto;
  overflow: hidden;
}
.envelop .inner-envelop {
  position: relative;
  height: inherit;
  display: flex;
  justify-content: center;
}
.envelop .inner-envelop .back-envelop {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: #1d3f4c;
  left: 50%;
  bottom: 0;
  /*Bottom SET*/
  transform: translateX(-50%);
  border-radius: 50px 50px 0 0;
  z-index: -1;
}
.envelop .inner-envelop form p {
  color: #ffffff;
  font-size: x-large;
  text-shadow: 2px 1px 3px rgba(29, 63, 76, 0.7254901961);
}
.envelop .inner-envelop form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 80%;
  gap: 0.7rem;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  bottom: 100px;
}
.envelop #allInputs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.envelop #allInputs textarea {
  width: 100%;
  resize: vertical;
  min-height: 4rem;
  max-height: 12rem;
}
.envelop #allInputs input[type=text],
.envelop #allInputs input[type=email],
.envelop #allInputs textarea {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  border-style: none;
  outline: none;
  font-family: "k2d";
  box-shadow: 1px 1px 2px rgba(29, 63, 76, 0.4588235294);
  font-size: 1rem;
}
.envelop .inner-envelop form input[type=submit] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  border-style: none;
  outline: none;
  box-shadow: 2px 3px 4px rgba(29, 63, 76, 0.4588235294);
  cursor: pointer;
  font-size: 1.2rem;
}
.envelop .inner-envelop form input[type=submit]:hover {
  background-color: #224958;
  color: white;
  transition: all 0.3s ease;
}
.envelop #allInputs > input::-moz-placeholder, .envelop textarea::-moz-placeholder {
  color: #919191;
  font-style: italic;
}
.envelop #allInputs > input::placeholder,
.envelop textarea::placeholder {
  color: #919191;
  font-style: italic;
}
.envelop #allInputs > input:focus {
  border-bottom: 2px solid rgba(0, 152, 163, 0.7058823529);
  transition: all 0.2s ease-in-out;
}
.envelop .inner-envelop .top-envelop {
  position: absolute;
  bottom: 0;
  width: 700px;
}
.envelop .inner-envelop .top-envelop .top-main-envelop {
  position: absolute;
  background-color: #224958;
  width: 700px;
  height: 600px;
  bottom: 0;
  -webkit-clip-path: circle(60% at 50% 10%);
  clip-path: polygon(50% 60%, 100% 38%, 100% 100%, 0 100%, 0 38%);
}
.envelop .inner-envelop .top-envelop button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 15rem;
  height: 2.5rem;
  transform: translate(-50%);
  padding: 0 10px;
  border-radius: 5px;
  border: transparent;
  border-style: none;
  outline: none;
  box-shadow: 10px 5px 14px rgba(19, 48, 59, 0.6901960784);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.envelop .inner-envelop .top-envelop span {
  position: relative;
  animation: top2Down 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
.envelop .inner-envelop .top-envelop button:hover,
.envelop .top-envelop button:visited {
  background-color: #2b596b;
  color: white;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.6901960784);
  transition: all 0.3s ease;
}

@keyframes top2Down {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 5px;
  }
}
@media screen and (max-width: 720px) {
  .envelop,
  .inner-envelop {
    overflow: hidden !important;
  }
  .back-envelop,
  .top-envelop {
    display: none;
  }
  .envelop form {
    width: 80% !important;
    border-radius: 20px !important;
  }
  .envelop .inner-envelop form {
    width: 50%;
  }
}
/*---------------------------------------
            ENVELOP END
----------------------------------------*/
/*---------------------------------------
            SUBSCRIBE US START
----------------------------------------*/
.subscribeUs {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}
.subscribeUs .subscribeUsInner {
  width: inherit;
  height: inherit;
  background-color: #1d3f4d;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.subscribeUs .subscribeUsInner .arrowText {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.subscribeUs .subscribeUsInner .arrowText .arrow {
  width: 30%;
  height: auto;
}
.subscribeUs .subscribeUsInner .arrowText .arrow img {
  width: 100%;
  height: auto;
}
.subscribeUs .subscribeUsInner .arrowText .text {
  width: 100%;
}
.subscribeUs .subscribeUsInner .arrowText .text h2,
.subscribeUs .subscribeUsInner .arrowText .text p {
  margin: 0;
}
.subscribeUs .subscribeUsInner .emailDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  background-color: #2a5363;
  box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.1450980392);
  flex: 30% 0;
  transition: all 0.3s ease;
}
.subscribeUs .subscribeUsInner .emailDiv .emailBox {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.subscribeUs .subscribeUsInner .emailDiv .emailBox input {
  flex: 1 1 0;
  padding: 0.8rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  width: 100%;
  background-color: #41849e;
}
.subscribeUs .subscribeUsInner .emailDiv .emailBox input::-moz-placeholder {
  color: #e1e1e1;
  font-style: italic;
}
.subscribeUs .subscribeUsInner .emailDiv .emailBox input::placeholder {
  color: #e1e1e1;
  font-style: italic;
}
.subscribeUs .subscribeUsInner .emailDiv .emailButton input {
  padding: 0.8rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  background-color: #41849e;
  color: white;
  flex: 1 1 0;
  cursor: pointer;
  transition: all 0.1s ease;
}
.subscribeUs .subscribeUsInner .emailDiv .emailButton input:hover {
  background-color: #377188;
  transition: all 0.1s ease;
}
.subscribeUs .subscribeUsInner .emailDiv .emailButton input:active {
  color: #a6ff00;
  background-color: #1d4d45;
  border: 1px solid gray;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1080px) {
  .subscribeUs .subscribeUsInner .emailDiv {
    gap: 1rem;
    flex: 50% 0 0;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 720px) {
  .subscribeUs .subscribeUsInner .emailDiv {
    gap: 1rem;
    flex: 80% 0 0;
    transition: all 0.3s ease;
  }
}
/*---------------------------------------
            SUBSCRIBE US END
----------------------------------------*/
/*---------------------------------------
            PROJECTS FOOTER START
----------------------------------------*/
.footer {
  width: 100%;
  color: white;
  background-color: #11252c;
}
.footer .ColAlignLeft {
  display: flex;
  justify-content: flex-start !important;
  flex-direction: column !important;
}
.footer .row {
  display: flex;
  flex-direction: row;
  width: inherit;
  padding: 1rem;
  justify-content: space-around;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2941176471);
}
.footer .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer .row .col p {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

/*---------------------------------------
            PROJECTS FOOTER END
----------------------------------------*//*# sourceMappingURL=style.css.map */